---
import Image from '~/components/common/Image.astro';

export interface Props {
    id?: string;
    image?: string | any; // TODO: find HTMLElementProps
}

const {
    id,
    image = await Astro.slots.render('image'),
} = Astro.props;
---

<a href="#" class="group">
    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
    <Image
        class="h-full w-full object-cover object-center group-hover:opacity-75"
        {...image}
    />
    </div>
</a>


