---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Research from '~/components/widgets/Research.astro';
import GridItem2 from '~/components/product/GridItem2.astro';
import type { CallToAction } from '~/types';
import Button from '~/components/ui/Button.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Team from '~/components/product/Team.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
const productsData = [
    { id: 1, image: '~/assets/images/beer_1.jpg', alt: 'AstroWind Hero Image' },
    { id: 2, image: '~/assets/images/black_1.jpg', alt: 'Another Product Image' },
    { id: 3, image: '~/assets/images/black_2.jpg', alt: 'Another Product Image' },
    { id: 4, image: '~/assets/images/black_2.jpg', alt: 'Another Product Image' },
    { id: 5, image: '~/assets/images/black_2.jpg', alt: 'Another Product Image' },
    { id: 6, image: '~/assets/images/black_2.jpg', alt: 'Another Product Image' },

    // Add more product data as needed
];

---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    image={{ src: '~/assets/images/homepage_pic.jpg', alt: 'AstroWind Hero Image' }}
  >
  </Hero>
  <Hero>
    <Fragment slot="subtitle">
      「帶著感情和希望創造甜點，於是他們充滿靈魂。」<br>
      Sweniverse是以「甜點獲得生命」為基礎建立的世界觀。<br>
      甜點由內而外就是療癒人心的存在，是心情愉快的處方。<br>
      這也是Sweniverse想帶來的，透過我們的插畫、設計和產品成為融入大家生活中的冬日暖陽。<br>
      希望大家都能和我們一起徜徉在這個宇宙，並沉浸在每個生動活潑的角色所帶來的生命力中，讓每個日子都變得不平凡。
    </Fragment>
  </Hero>
  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with AstroWind"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
  />

  <Research
    id="features"
    tagline="Features"
    title="What you get with AstroWind"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
  />

  <!-- <div style="background-color:#040404">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <h2 class="sr-only">Products</h2>
        <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8">
            {productsData.map((product) => (
            <GridItem2
                image={{ src: product.image, alt: product.alt }}
            >
            </GridItem2>
            ))} -->
        <!-- More products... -->
        <!-- </div>
    </div>
  </div> -->
  <div style="background-color:#040404">
    <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
  <Team
    image={{ src: '~/assets/images/stupid.jpg', alt: 'sdf' }}
    name="Researcher H (Hazel)"
    job1="Co-founder"
    job2="Creative Designer"
    job3="External Affairs Director"
  >
  </Team>
  
  <Team
  image={{ src: '~/assets/images/alice.jpg', alt: 'sdf' }}
  name="Researcher A (Alice)"
  job1="Co-founder"
  job2="Creative Designer"
  job3="Internal Operations Director"
>
</Team>
          </div>
    </section>
</div>




</Layout>
